.style-1{
border: 100px;
margin:100px 50px 20px 80px;
position: center;
display:auto;
}

.horizontal-center{
border: 80px;
margin:50px 0px 0px 20px;
position: left;

}
.box-row4{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin:300px;
	}

.box-row5{
	display: inline-block;
	width: 100px;
	height: 500px;
	margin:300px;
	border: 1px black;
}
.box-row6{
	display: inline-block;
	width: 500px;
	text-decoration-color: red;
	height: 90px;
	margin:10px;
	border: 1px black;	