.text{
	position:relative;
	height:400px;
	width:200px;
}

.container{
	width: 50%;
	overflow:auto;
	border: 3px solid blue;
}
.static{
	position:static;
	height:200px;
	width:400px;

}
.relative{
	height:300;
	width:300;
	position:relative;
	top:100px;
	


}
.block1{
	display: inline-block;
	width: 200px;
	height: 200px;
	margin:300px;
	}


.box-row6{
	display: inline-block;
	width: 300px;
	height: 300px;
	margin:40px;
	border: 6px black;	
}

