.box-row1{
	float: left;
	width: 300px;
	height:500px;
	margin:60px

}

.box1{
	display: inline-black;
	width:100px;
	height:350px;
	margin:300px;
	border: 3px solid #FFFFFF
}

.box2{
	display: inline-block;
	width: 300px;
	height: 30px;
	margin:100px;
	border: 1px inline-black;
}

.box3{
	display: inline-black;
	background-color: solid white;
	width:14px;
	height:500px;
	margin:100px;
	border: 3px solid black;

}
.container{
	width: 50%;
	overflow:auto;
	border: 3px solid yellow;
}
.box4{
	display: inline-black;
	width:50px;
	height:300px;
	margin:100px;
	border: 7px solid #FFFFFF;


}

.box5{
	display: inline-black;
	width:160px;
	background-color: black
	height:60px;
	margin:60px;
	
}
.

















